@import bits
.alertify-notifier 
	.ajs-message.ajs-success
		background-color: rgba(0,0,0,0.8) $i
		color: #fff
		border-radius: 15px
		padding: 5px 15px $i
		margin-top: 5px $i
		right: 360px $i
		width: 355px $i
	.ajs-message.ajs-error
		background-color: rgba(255,193,7,0.9) $i
		color: #000
		border-radius: 15px
		padding: 5px 15px $i
		margin-top: 5px $i
		right: 360px $i
		width: 355px $i
