// VARIABLES GENERALES
$i: !important
$font-size: 0.90rem
$border: 1px solid rgba(0,0,0,.140)
// COLORES GENERALES
$color-bg: #f8f8f8
$color-bg-secondary: rgba(247,247,247,.2)
$color-black: #747474
$color-grey: #f7f7f7
$color-red: #cc0000