@import bits

// formularios

.form-control,
.form-control:focus 
	border-color: none
	box-shadow: none
	background-color: transparent
	&:disabled
		
.form-group
	margin-bottom: 0 $i
label
	margin-bottom: 0.2rem $i
	
.card
	border: $border
.card-body
	padding: 0.5rem 1rem 0.5rem 1rem

.bg-danger
	background-color: $color-red $i
	
#nuevoElemento
	display: inline $i

.title
	font-family: 'Roboto Bold', sans-serif
	cursor: pointer

.table-form
	line-height: 1
	border-color: rgba(0,0,0,0.5)